@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.single-comment-wrapper {
  display: inline-block;
  margin-bottom: 25px;
  padding-bottom: 15px;
  width: 100%;
  height: auto;
  background-color: $white-color;
  border-bottom: solid 1px $background-color;

  .top-wrapper {
    display: inline-block;
    width: 100%;

    .user {
      display: inline-block;
      float: left;
      img {
        width: 20px;
        vertical-align: middle;
        margin-right: 5px;
      }
      span {
        vertical-align: middle;
        color: $grey;
      }
    }

    .time {
      display: inline-block;
      float: right;

      span {
        color: $light-grey;
        font-size: 10px;
      }
    }
  }

  .content-wrapper {
    padding-top: 15px;
    color: $grey;
  }
}
