@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.account-info-wrapper {
  display: inline-block;
  padding: 40px;
  margin-top: 100px;
  width: 100%;
  height: auto;
  background-color: $white-color;

  .avatar-wrapper {
    padding-bottom: 20px;
    text-align: center;

    .avatar {
      @include cover-img();
      margin: 0 auto;
      width: 100px;
      height: 100px;
      border-radius: 100px;
      //cursor: pointer;
    }

    p {
      margin-top: 5px;
      color: $grey;
      font-size: 18px;
    }

    .homepage-wrapper {
      div {
        display: inline-block;
        padding-top: 10px;
        cursor: pointer;
        text-align: center;
        span {
          color: $grey;
          font-size: 12px;
          @include transition(all, 0.3s);

          &:hover {
            @include transition(all, 0.3s);
            color: $main-color;
          }
        }

        img {
          vertical-align: middle;
        }

      }
    }
  }

  .form-wrapper {
    padding-bottom: 20px;
    width: 85%;

    /deep/ .el-form-item__label {
      padding-right: 50px;
      color: $grey;
      width: 150px;
    }

    /deep/ .el-input {
      width: 70%;
    }

    /deep/ .el-form-item__error {
      padding-top: 2px;
      padding-left: 150px;
    }

    .confirm-button-wrapper {
      display: block;
      padding-right: 11%;
      float: right;
      text-align: center;
      /deep/ .el-button {
        padding: 8px 20px;
        background-color: $main-color;
        border-radius: 100px;
        color: $white-color;
        @include transition(all, 0.5s);

        &:hover {
          @include transition(all, 0.5s);
          background-color: $sub-color;
        }
      }
    }

  }

}
