@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.search-result-wrapper {
  display: inline-block;
  margin-top: 100px;
  //padding: 30px;
  width: 100%;
  min-height: 500px;
  //background-color: $white-color;

  /deep/ .el-tabs__header {
    border-bottom: none;
  }

  /deep/ .el-tabs__active-bar {
    height: 0;
  }

  /deep/ .el-tabs__item {
    padding: 0 30px 0 0;

    img, span {
      margin-right: 2px;
      vertical-align: sub;
    }

    &:hover {
      color: $main-color;
      @include transition(all, 0.3s);
    }
  }

  .key-wrapper {
    h1 {
      padding-bottom: 20px;
      color: $grey;
      //font-weight: 400;

      span {
        font-size: 16px;
      }
    }
  }

  .back-button {
    margin-bottom: 20px;
    background: none;
    color: $main-color;
    cursor: pointer;

    :hover {
      color: $sub-color;
    }
  }

  .empty-result {
    padding-top: 40px;
    text-align: center;
    color: $grey;
  }

}
