@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.tags-wrapper {
  //padding-top: 40px;
  width: 100%;

  /deep/ .el-tag {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 12px;
    padding: 3px 15px;
    height: auto;
    background: none;
    border: solid 1px $light-grey;
    border-radius: 100px;
    font-size: 13px;
    color: $light-grey;
  }

  /deep/ .el-button {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 12px;
    padding: 3px 15px;
    height: 30px;
    background-color: $main-color;
    border: none;
    border-radius: 100px;
    font-size: 13px;
    color: $white-color;
    @include transition(all, 0.5s);

    &:hover {
      @include transition(all, 0.5s);
      background-color: $sub-color;
    }
  }

  /deep/ .el-input {
    width: auto;
    height: 30px;
  }
}
