@import "../../assets/scss/variables";
@import "../../assets/scss/base";
@import "../../assets/scss/mixin";

.nav-wrapper {
  height: 52px;
  width: 100%;
  background-color: $white-color;

  .left-wrapper {
    display: inline-block;
    padding-top: 12px;
  }

  .right-wrapper {
    display: inline-block;
    padding-top: 11px;
    float: right;

    .input-wrapper {
      display: inline-block;
      padding-right: 20px;
      /deep/ .el-input__inner {
        width: 300px;
      }
      .search-input /deep/ .el-input__icon {
        z-index: 1;
      }
    }

    .button-wrapper {
      display: inline-block;
      .el-button {
        padding-left: 20px;
        font-size: 15px;
        font-weight: 300;
        color: $grey;
        @include transition(all .5s);

        &:hover {
          @include transition(all .5s);
          color: $main-color;
        }
      }
    }
  }
}


